.footer__wrap
  footer.footer
    .footer__group
      .footer__stack
        h4.footer__text__title Links/Resources
        p.footer__text.report__bug Report a bug / Contact
        a.footer__link(href="https://slippi.gg/", target="_blank") 
          p.footer__text Slippi
        a.footer__link(href="https://imgur.com/a/IuO95Mu", target="_blank") 
          p.footer__text Character Icons
        a.footer__link(href="https://cookbook.gg", target="_blank") 
          p.footer__text Cookbook.gg
      p.footer__text.created__by Created by Brenden Baio (SmashBob).
