div.footer__wrap
  footer.footer
    div.footer__group
      div.footer__stack
        h4.footer__text__title Links
        p.footer__text Report a bug / Contact
        p.footer__text Slippi  
      p.footer__text Created by Brenden Baio (SmashBob).


