.footer__wrap
  footer.footer
    .footer__group
      .footer__stack
        h4.footer__text__title Links
        p.footer__text.report__bug Report a bug / Contact
        a.footer__link(href="https://slippi.gg/" target="_blank")  
          p.footer__text Slippi
      p.footer__text Created by Brenden Baio (SmashBob).
