header.header
  nav.nav__items
    .header__logo
      a(href="/")
        img(src="/img/sm3-1.webp")
    if (!user)
      .header__text
        a.login__btn(href="/login")
          h4 Log In
        a.signup__btn(href="/signup") 
          h4 Sign Up
    if (user)
      .header__text
        a.user__button(href="/me")
          h4 #{ user.username } 
        h4.logout__btn Log Out
