extends base

block content
  section.margin__borders.home__page
    h1.home__title.hidden__fade__slide Choose your character
    div.character__select
      each character in characters
        a.character__box(href=`/character/${character}/1`)
          img.character__icon(
            src=`/img/character-icons-hd/${character}.webp`,
            alt="character-image"
          )
    if (user)
      hr.homepage__divider
      a.savestate__wrapper.upload__btn.hidden__fade(href="/upload-savestate") Upload Savestates
    if (!user)
      h1.home__subtitle.hidden__fade (or log in to upload a savestate...)
    

    //- h1 savestates      
    //- ul.savestates
    //-   li.savestate test  
