extends base

block content
  section.margin__borders.home__page
    h1.home__title choose your character
    .character__select
      each character in characters
        a.character__box(href=`/character/${character}/1`)
          img(
            src=`/img/character-icons/${character}.png`,
            alt="character-image"
          )
    if (user)
      h1.home__title or
      a.savestate__wrapper.upload__btn(href="/upload-savestate") Upload Savestates
    if (!user)
      h1.home__subtitle (or log in to upload a savestate...)

    //- h1 savestates      
    //- ul.savestates
    //-   li.savestate test  
