section.margin__borders.no__savestates__section
  h1.no__savestates__title There are no savestates for this character yet. 
  img(src="/img/sadditto.png", alt="sad ditto")
  if (!user)
    h1.no__savestates__title Log in or sign up and be the first to upload one!
