:root {
  --gamecube-color: #6545b2;
  --gamecube-red: #d60101;
  --gamecube-red-hover: #b40101;
  --gamecube-green: #4db849;
  --gamecube-green-hover: #4db849;
  --white-alt: #e4e4e4;
  --sharp-yellow: #fdcd0b;
  --sharp-yellow-hover: #dbaf00;
  --charcoal: #1a1a1a;
}

/* UNIVERSAL */

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  line-height: 1.6;
}

body {
  padding: 0;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: var(--charcoal);
  overflow-x: hidden;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  background-color: transparent;
}

.hidden {
  display: none;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  border: none;
  cursor: pointer;
}

.nav__items a {
  text-decoration: none;
  color: #1a1a1a;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.288);
}

.alert__success {
  background-color: var(--gamecube-green);
}
.alert__error {
  background-color: var(--gamecube-red);
}

/* .footer__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
} */

/* HEADER */
.header {
  max-width: 100vw;
  background-color: transparent;
  border-bottom: 1px solid var(--white-alt);
  border-top: 4px solid var(--gamecube-color);
}

.header__logo img {
  height: 2.5rem;
  margin-top: 6px;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 18vw 2px 18vw;
  height: 48px;
}

.header__text {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logout__btn {
  cursor: pointer;
  background-color: var(--gamecube-red);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 6px;
  color: white;
}

.user__button {
  background-color: var(--sharp-yellow);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 6px;
  color: white;
}

.user__button:hover {
  background-color: var(--sharp-yellow-hover);
}

.logout__btn:hover {
  background-color: var(--gamecube-red-hover);
}
.margin__borders {
  margin: 0 18vw 0 18vw;
  border: solid var(--white-alt);
  border-width: 0 1px 0 1px;
}

/* HOME PAGE */
.home__page {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 2rem;
  gap: 48px;
}

.home__title {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.home__subtitle {
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.character__select {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  row-gap: 12px;
  padding: 0 14rem 0 14rem;
}

.character__box {
  height: 28px;
  width: 24px;
  justify-self: center;
  background-color: var(--white-alt);
  padding: 4px 4px 0 4px;
  border-radius: 4px;
  border: 2px solid var(--gamecube-color);
  cursor: pointer;
}

.character__box:hover {
  background-color: #ebd6ec;
}

.character__box:active {
  background-color: #d78edb;
  transform: scale(0.9);
}

.character__box:nth-last-child(8) {
  background-color: transparent;
  border: none;
  cursor: default;
}

#upload__savestate {
  height: 96px;
  cursor: pointer;
  align-self: center;
  filter: drop-shadow(3px 3px 30px rgba(255, 196, 0, 0.7));
  margin-top: 1rem;
}

.upload__btn {
  text-decoration: none;
  font-size: 48px;
  color: var(--sharp-yellow);
  background-color: #20153b;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 200px;
  font-weight: bold;
  filter: drop-shadow(3px 3px 30px rgba(255, 196, 0, 0.7));
}

.upload__btn:hover {
  color: #20153b;
  background-color: var(--sharp-yellow);
}

.savestate__wrapper {
  align-self: center;
}

.remove__files {
  color: white;
  background-color: var(--gamecube-color);
  padding: 0px 8px 0px 8px;
  border-radius: 100px;
  position: absolute;
  right: 0;
  bottom: 11px;
  right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.form__group {
  position: relative;
}
/* CHARACTER PAGE */

.character__page {
  margin-top: 1rem;
  border-bottom: solid 1px var(--white-alt);
  border-top: solid 1px var(--white-alt);
}

thead {
  background-color: var(--gamecube-color);
  color: white;
}

th:last-child {
  padding-right: 0;
}

tbody > tr:nth-of-type(even) {
  background-color: var(--white-alt);
}

.savestate__table {
  margin: 0 auto;
  width: 100%;
}
.page__btns {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  background-color: var(--gamecube-color);
  color: white;
}

.page__btn {
  cursor: pointer;
  margin-right: 1.5rem;
  margin-bottom: 0.25rem;
}

.page__counter {
  margin-right: 1.5rem;
}

.unactive {
  pointer-events: none;
  color: #b4b4b4;
}

.icon {
  width: 20px;
  margin-top: 6px;
}

.share__btn {
  cursor: pointer;
  fill: var(--gamecube-color);
  margin-left: 0.25rem;
}

.report__btn {
  cursor: pointer;
  fill: var(--sharp-yellow-hover);
}
.icon__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  overflow: hidden;
}

/* Character Page Dialog */

/* LOG IN FORM */
.form__section {
  gap: 14px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: var(--gamecube-color);
  padding: 1.5rem 4rem 1.5rem 4rem;
  border-radius: 8px;
  color: white;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.288);
}

.form {
  display: flex;
  flex-direction: column;

  gap: 22px;
}

.heading__secondary {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.form__input {
  display: block;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  color: var(--charcoal);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 8px;
}

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.form__group {
  color: white;
}

.btn__yellow {
  background-color: var(--sharp-yellow);
  margin-top: 0.75rem;
  margin-right: 0.5rem;
}

.btn__yellow:hover {
  background-color: var(--sharp-yellow-hover);
}

.btn__red {
  background-color: var(--gamecube-red);
  color: white;
}
.btn__red:hover {
  background-color: #b40101;
}

.login__btn__group a:visited {
  text-decoration: none;
  color: white;
}

/* Upload Savestate Form */
.upload__savestate__page .form__section {
  padding: 2.5rem 4rem 2.5rem 4rem;
}

.upload__savestate__page .form {
  gap: 12px;
}
.select__box {
  font-size: 14px;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: white;
  width: 100%;
}

#savestate__title {
  border-radius: 6px;
  border: none;
  resize: none;
  padding: 0.5rem;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
}

/* Share Savestate Page */

.share__savestate__page {
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
  margin-top: 4rem;
  color: white;
}

.share__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gamecube-color);
  padding: 3rem;
  border-radius: 8px;
}

/*  FOOTER */
.footer__wrap {
  margin-top: 4rem;
  border-top: solid 1px var(--white-alt);
  background-color: var(--gamecube-color);
  flex-grow: 1;
  color: white;
}

.footer__group {
  margin: 0 18vw 0 18vw;
  padding: 0.7rem 0 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot__stack {
}

.footer__text {
  font-size: 0.9rem;
}

.footer__text__title {
  font-size: 1.3rem;
}

/* ACCOUNT PAGE */

.side-nav {
  list-style: none;
}

.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}

.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}
.account__form__section {
  gap: 14px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: var(--gamecube-color);
  padding: 2.5rem 4rem 2.5rem 4rem;
  border-radius: 8px;
  color: white;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.288);
}

.password__header {
  margin-bottom: 1rem;
}

.form__user__data {
  width: 30rem;
}

.edit__savestates {
  background-color: var(--white-alt);
  color: var(--charcoal);
}
/* DELETE ACCOUNT */
.delete__account__form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}
.delete__account__form {
  background-color: var(--gamecube-color);
  padding: 3rem;
  border-radius: 8px;
  margin-top: 2rem;
  color: white;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.288);
}
